@media(min-width:1400px){
    .banner_left h2 {
        font-size: 43px;
    }
    .key_feature_right p {
        font-size: 16px;
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .download_left p {
        font-size: 16px;
        color: var(--primary-color);
        margin-bottom: 40px;
        line-height: 33px;
    }
}